# requirements.txt
fastapi==0.111.0             # Ou a sua versão do FastAPI
uvicorn[standard]==0.30.1   # Ou a sua versão do Uvicorn
sqlalchemy==2.0.30          # Ou a sua versão do SQLAlchemy
pydantic==2.5.3             # Ou a sua versão do Pydantic
pydantic-settings==2.0.3    # Ou a sua versão
PyMySQL==1.1.1              
python-jose[cryptography]==3.3.0
passlib==1.7.4              # <--- IMPORTANTE: Sem [bcrypt] aqui
bcrypt==4.1.3               # <--- ADICIONADO: Versão explícita e estável do bcrypt (pode tentar 4.0.1 se esta falhar)
openpyxl==3.1.2             
gunicorn==22.0.0            



#python -m venv venv
#.\venv\Scripts\activate
#pip install -r requirements.txt
#uvicorn app.main:app --reload --port 8001 
