# requirements.txt
fastapi             # Ou a sua versão do FastAPI
uvicorn[standard]  # Ou a sua versão do Uvicorn
sqlalchemy          # Ou a sua versão do SQLAlchemy
pydantic            # Ou a sua versão do Pydantic
pydantic-setting    # Ou a sua versão
PyMySQL              
python-jose[cryptography]
passlib            # <--- IMPORTANTE: Sem [bcrypt] aqui
bcrypt             # <--- ADICIONADO: Versão explícita e estável do bcrypt (pode tentar 4.0.1 se esta falhar)
openpyxl            
gunicorn            



#python -m venv venv
#.\venv\Scripts\activate
#pip install -r requirements.txt
#uvicorn app.main:app --reload --port 8001 
